body {
    margin: 0;
    font-family: "Outfit", sans-serif;
}


section {
    height: 120vh;
    width: 100%;
    background-color: #0D1A2D;
    display: flex;
    align-items: center;
    /* justify-self: center; */
}

.card-cotaner {
    height: 645px;
    width: 400px;
    background-color: #152640;
    border-radius: 15px;
    margin-inline: auto;
    /* justify-self: center; */
    box-shadow: 0px 0px 200px 1px rgba(0, 0, 0, 0.608);
}

.img-setion>.deflt-img {
    width: 300px;
    height: 350px;
    background-image: url(./images/image-equilibrium.jpg);
    background-size: cover;
    width: 85%;
    border-radius: 15px;
    display: flex;
    justify-self: center;
    margin-top: 27px;
    cursor: pointer;
}



.contant-section {
    margin-left: 2rem;
}

.contant-section>h1 {
    color: white;
    font-size: 23px;
    font-weight: 600;
}

.contant-section>p {
    color: white;
    font-size: 20px;
    font-weight: 100;
}



.sssssss {
    position: relative;
    display: flex;
}


.sssss-one {
    width: 110px;
    height: 50px;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    /* justify-items: center; */
    align-items: center;
}


.sssss-two {
    width: 110px;
    height: 50px;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    /* justify-items: center; */
    align-items: center;
    /* padding-left: 200px; */
    position: absolute;
    left: 210px;
}


.sssss-one>img {
    width: 13px;
    height: 20px;
}

.sssss-two>img {
    width: 20px;
    height: 20px;
}


.sssss-one>h3 {
    color: #00FFF8;
    font-weight: 500;
    font-size: 18px;
}

.sssss-two>h3 {
    color: white;
    font-weight: 100;
    font-size: 18px;
}

hr {
    width: 330px;
    color: white;
    opacity: .1;
    /* height: 0px; */
}

.lest-section {
    margin-left: 27px;
}

.im-flex {
    display: flex;
    align-items: center;
}

.im-flex>img {
    width: 40px;
    height: 40px;
    border: 1px solid wheat;
    border-radius: 50%;
}

.im-flex>p {
    margin-left: 20px;
    color: white;
    font-weight: 300;
    font-size: 17px;
}
.im-flex > p > span{
    color: #92A9C6;
}




/* 
@media
@media
@media
@media
@media
@media
@media
@media
@media
@media
@media
@media */

@media(max-width:440px) {
    .card-cotaner {
        margin-left: .6rem;
        margin-right: .6rem;
        width: 400px;
    }
}
